body {
  width: 98vw;
}
html {
  font-size: 12px;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/apple-pie.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2vw;
  height: 80vh;
}

h1 {
  font-size: 4rem;
  color: white;
}
.divBox {
  margin-right: 10vw;
  margin-left: 10vw;
}
.divBox p {
  text-align: left;
  font-size: 2rem;
}

.divBox img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style-type: none;
  font-size: 2rem;
}
ol li {
  font-size: 2rem;
}
