body {
  width: 98vw;
}
html {
  font-size: 12px;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/apple-pie.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;

  margin: 2%;
  height: 80vh;
}

h1 {
  font-size: 4rem;
  color: white;
}
h2 {
  font-size: 2.5rem;
}
.divBox {
  margin-right: 10%;
  margin-left: 10%;
}
.divBox p {
  text-align: left;
  font-size: 2rem;
}

.divBox img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  font-size: 2rem;
}
ol li {
  font-size: 2rem;
}
